.box{
    background-color: skyblue;
    padding: 20px;
    margin-bottom: 20px;
}

.title{
    font-size: 60px;
}

.text{
    font-size: 30px;
}

.button{
    color: white;
    background-color: darkseagreen;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    width: 8%;
}